*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.pdf
*.fdb_latexmk
*.fls
*.synctex.gz
.first_task.pdf.swp
*.docx
*.dvi
*.jpg
*.vscode
.obsidian
*.json
*.exe
*.zip
33
1
2
3
Introduction to the specialty/Project/
